extends layout

block content
  #masthead
    .container
      .row
        .col-md-7
          h1= title
            p.lead
        |
        .col-md-5
          .well.well-lg
            .row
              .col-sm-12
      // /cont
    .container
      .row
        .col-md-12
          .top-spacer
      // /cont
  .container
    .row
      .col-md-12
        .panel
          .panel-body
            // /stories
            .row
              br
              |
              .col-md-2.col-sm-3.text-center
                a.story-title(href='#')
                  img.img-circle(alt='' src='http://api.randomuser.me/portraits/thumb/men/58.jpg' style='width:100px;height:100px')
              |
              .col-md-10.col-sm-9
                h3 Repurpose Content to Reach a Wider Audience
                |
                .row
                  .col-xs-9
                    h4
                      span.label.label-default 97thfloor.com
                    h4
                      small.text-muted(style="font-family:courier,'new courier';")
                        | 2 hours ago  &bull;
                        a.text-muted(href='#') Read More
                  |
                  .col-xs-3
                |
                br
                br
            |
            hr
            |
            |
            // Add Review Button
            a.btn.btn-primary.pull-right.btnNext(href='/')
              | Add Review